# .env.example
TELEGRAM_BOT_TOKEN="6103539239:AAEnUmydghU72IRDjfZk14PtQEXsKx_Zn9g"
WEBHOOK_DOMAIN=tu-dominio-de-vercel-aqui.vercel.app # o el dominio para el webhook
PORT=3000 # Puerto para desarrollo local si usas un servidor HTTP simple
DATABASE_URL=tu_string_de_conexion_a_db # Ejemplo si usas DB

# IDs de usuarios (ejemplos)
USER_ID_RAYDEL=991216025
USER_ID_CLAUDIA=6258652528
USER_ID_GRETTEL=6134558583
USER_ID_ERNESTO=1149432007
USER_ID_JAVIER=5756622788

TELEGRAM_TARGET_GROUP_ID=-4693724754 # Grupo para mensajes aleatorios y recordatorios